/* -----Main Color------- */

/* ------Option Color---------- */

/* -----Main Fonts-----*/

.welcome {
  text-align: center;
  border: 2px solid #cecece;
  background-color: #36a000;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.cont-title {
  color: #000;
  text-align: center;
}

body {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  position: relative;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.mainWrapper > div.contentWrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

div.mainWrapper > div.contentWrapper > .page {
  flex-grow: 1;
}

div.mainWrapper > footer.mainFooter {
  flex: 0 0 auto;
}

.mainWrapper {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.pageSection,
.mcontainer {
  background-color: inherit;
}

button {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input,
textarea,
select {
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
}

/* ======Media Queries===== */

img {
  width: 100%;
}

header.mainHeader {
  text-align: center;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  color: #fff;
  height: 75px;
  line-height: 75px;
  font-size: 22px;
}

footer.mainFooter {
  text-align: center;
  background-image: linear-gradient(-90deg, #020024 0%, #090979 35%, #020024 100%);
  color: #fff;
  height: 75px;
  line-height: 75px;
  font-size: 22px;
}

.mcontainer {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

